<!DOCTYPE html>
<html>
    <head>
        <title>UC Merced Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='myStyle.css') }}">
    </head>
    <body>

        <h1 class="rowAlign">UC Merced</h1>

        <div class="loginBox">
            <h2 class="loginMessage">Please Login</h2>

            <div class="rowAlign"><input id="usernameInput" placeholder="Username"></div>
            

            <div class="rowAlign"><input id="pwdInput" type="password" placeholder="Password"></div>

            <div class="rowAlign"><button onclick="login()">Sign in</button></div>
        </div>

        <script src="{{ url_for('static', filename='script.js') }}"></script>

    </body>
</html>