<!DOCTYPE html>
<html>
    <head>
        <title>UC Merced Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='myStyle.css') }}">
    </head>
    <body>

        <h1 class="rowAlign">UC Merced</h1>

        <p class="loginMessage">Please Login</p>

        <div>
            <input id="usernameInput" placeholder="Username">

            <input id="pwdInput" type="password" placeholder="Password">

            <button onclick="login()">Sign in</button>
        </div>

        <script src="{{ url_for('static', filename='script.js') }}"></script>

    </body>
</html>